.busqueda{
    height: 150px;
    width: 200px;
    
    display: block;
    position:absolute;
    right: -0px;
}

.botonbuscar {
    background-color: #d9d9d9; 
    border: #d9d9d9;
    border-radius: 0px 8px 8px 0px;
    color: #d9d9d9;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    justify-content: center;


}
.ciclo{
    position: relative;
    float: right;
    top: 120px;
    
}
.custom-search-input{
    display: block;
}
.posboton{
    float: left;
    display:flex;
    position:relative;

}
