*{
    margin: 0;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    background-color: #314755;
    height: 103px;
    align-items: center;
    justify-content: space-between;
}

.sesion span{
    font-size: 20px;
    padding: 5px;
}
.sesion{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
span{
    padding-left: 60px;
    color: white;
    font-size: 28px;
}
nav{
    background-color: #314755;
    width: 121px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; 
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
i{
    color: white;
    font-size: 47px;
}

*{
    margin: 0;
    padding: 0px;
}

header{
    display: flex;
    background-color: #314755;
    height: 103px;
    align-items: center;
    justify-content: space-between;
}

.sesion span{
    font-size: 20px;
    padding: 5px;
}
.sesion{
    display: flex;
    align-items: center;
    padding-right: 10px;
}


span{
    padding-left: 60px;
    color: white;
    font-size: 28px;
}
nav{
    background-color: #314755;
    width: 10%;
    height: 140vh;
    
   
}

.contenedor1{
    display: flex;
    justify-content: space-between;
    height: 87vh;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; 
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
}
i{
    color: white;
    font-size: 47px;
}
/* imagenes ******************************* */
*{
	margin:0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
.contenido{
	width: 100%;
    margin-left: 0px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
}
.section{
    width: 60%;
}


.contenedor-foto {
    margin: 15px;
}

.contenedor-foto:hover{
    background-color: #e6e6e6 ;
}