
.fondo{
    background-color: rgb(253, 253, 253);
    background-image: url('/static/imagenes/home/inicio1.jpg');
    background-position: center center;
    background-repeat:no-repeat;
    font-size: calc(1em + 1vw);
    background-position-x: right;
    break-after: left;
    background-position-y:right;
    background-size: 1800px 600px;
       
}
.bienvenida{
    font-size: 80px; 
    font-family: Helvetica;
    margin-bottom: 20px;
    position: relative;
    
    font-size: calc(1em + 1vw);
    text-align:center;

}

