{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<!--
    {{ ruta }} es donde esta alojado la imagen para luego poder mostrar
-->

{% for laptop, ruta in laptops_rutas %}

<!-- <div class="mostrador" id="mostrador">
  <div class="fila">
    <div class="item"> -->
      <div class="contenedor-foto">
        <a href="{% url 'informacionLaptop' %}"><img src="{{ ruta }}" width="200px" height="200px" alt="" /></a>
        <p class="descripcion">{{ laptop.nombre }}</p>
        <spam class="precio"> bs {{ laptop.precio }}</spam>
      </div>
    <!-- </div>
  </div>
</div> -->
{% endfor %} {% endblock %}
