
{% extends 'layouts/base.html' %}

{% block content %}

<div class="well tab-content" style="justify-content: center;margin-left: 50px;">
  <div class="tab-pane active" id="post-object-form">
    <form method="POST" action="{% url 'laptops' %}" enctype="multipart/form-data" >
        {% csrf_token %}
      <fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label"> Modelo </label>
  
            <div class="col-sm-10">
              <input name="modelo" class="form-control" type="text" value="" required maxlength="20" minlength="5"/>
            </div>
          </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Marca</label>
            <div class="col-sm-10">
              <input name="marca" class="form-control" type="text" value="" required maxlength="20" minlength="2" />
            </div>
          </div>

        

        <div class="form-group">
          <label class="col-sm-2 control-label"> Nombre </label>

          <div class="col-sm-10">
            <input name="nombre" class="form-control" type="text" value=""required maxlength="20" minlength="8"  />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Stock </label>

          <div class="col-sm-10">
            <input name="stock" class="form-control" type="number" required value="" max="1000"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Precio </label>

          <div class="col-sm-10">
            <input name="precio" class="form-control" type="number" value="" required max="30000" min="350" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Pantalla </label>

          <div class="col-sm-10">
            <select class="form-control" name="pantalla" required>
              <option value="13pulg">13 pulgadas</option>

              <option value="14pulg">14 pulgadas</option>

              <option value="15.6pulg">15.6 pulgadas</option>

              <option value="17pulg">17 pulgadas</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Teclado </label>

          <div class="col-sm-10">
            <input name="teclado" class="form-control" type="text" value="" required maxlength="10" minlength="5"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Procesador </label>

          <div class="col-sm-10">
            <input
              name="procesador"
              class="form-control"
              type="text"
              value=""
              required
              maxlength="25"
              minlength="5"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Ram </label>

          <div class="col-sm-10">
            <select class="form-control" name="ram" required>
              <option value="2">2gb</option>

              <option value="2exp">2gb(exp)</option>

              <option value="4">4gb</option>

              <option value="4exp">4gb(exp)</option>

              <option value="8">8gb</option>

              <option value="8exp">8gb(exp)</option>

              <option value="16">16gb</option>

              <option value="16exp">16gb(exp)</option>

              <option value="32">32gb</option>

              <option value="32xp">32gb(exp)</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Color </label>

          <div class="col-sm-10">
            <input name="color" class="form-control" type="text" value="" required maxlength="15" minlength="3"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> M2 </label>

          <div class="col-sm-10">
            <select class="form-control" name="m2" required>
              <option value="256gb">256 gb</option>

              <option value="512gb">512 gb</option>

              <option value="1tb">1 tb</option>

              <option value="2tb">2 tb</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Hdd </label>

          <div class="col-sm-10">
            <select class="form-control" name="hdd" required>
              <option value="sinhdd">sin HDD</option>

              <option value="256hdd">256 gb</option>

              <option value="512hdd">512 gb</option>

              <option value="1hdd">1 tb</option>

              <option value="2hdd">2 tb</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Grafica </label>

          <div class="col-sm-10">
            <input name="grafica" class="form-control" type="text" value="" required maxlength="25" minlength="5"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Descripcion </label>

          <div class="col-sm-10">
            <input
              name="descripcion"
              class="form-control"
              type="text"
              value=""
              required
              maxlength="1000"
              minlength="30"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Imagenes </label>

          <div class="col-sm-10" style="display: grid;">
            <input name="imagen_1" type="file" accept="image/*" required/>
            <input name="imagen_2" type="file" accept="image/*" required/>
            <input name="imagen_3" type="file" accept="image/*" required/>
            <input name="imagen_4" type="file" accept="image/*" required/>
          </div>
        </div>

        <div class="form-actions">
          <button
            class="btn btn-primary js-tooltip"
            title=""
            data-original-title="Make a POST request on the Todo List resource"
          >
            ACEPTAR
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
