{% extends 'layouts/base.html' %}
 {% load static %} 
 {% block content %}
 <head>
    <link rel="stylesheet" href="{% static 'styles/reporte_ventas.css' %}">
  </head>

 <section class="contenido" style="grid-template-columns: none;background: white;">
<div class="modal-header">
 <h4>Reporte de ventas</h4>
</div>

<div>
    <div class="left">
        <select name="" id="tipo">
            <option value="circular">
                Gráfico Circular
            </option>
            <option value="columna">
                Gráfico de Columnas
            </option>
        </select>
        <input type="text" placeholder="Laptops Vendidas" id="titulo" readonly>
        <div class="datos" id="datos">

            <div class="row">
                <div class="col-sm-3">cant</div>
                <div class="col-sm-6" style="margin-left: -4vw;">laptop</div>
                <div class="col-sm-3" >total</div>
            </div>
            <div class="dato">
                <input type="text" value="5" class="cantidad" readonly>
                <input type="text" value="ROG strix" class="serie" readonly>
                <input type="text" value="20000" class="valor" readonly>
            </div>
            <div class="dato">
                <input type="text" value="8" class="cantidad"  readonly>
                <input type="text" value="mac" class="serie" readonly>
                <input type="text" value="32000" class="valor" readonly>
            </div>
            <div class="dato">
                <input type="text" value="4" class="cantidad" readonly>
                <input type="text" value="omen" class="serie" readonly>
                <input type="text" value="16000" class="valor" readonly>
            </div>
        </div>
        <button onclick="cargarGrafico()" class="crear-grafico">Crear Gráfico</button>
    </div>
    <div class="right">
        <div id="piechart"></div>
    </div>
</div>
    
    <script src="{% static '/scripts/reporte.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</section>
{% endblock %}